set timeout=10
set default=0

menuentry "grub4dos 0.4.6a"{
 set root=(hd0,1)
 linux /boot/grub4dos/grub.exe 
}

submenu "memtest" {

 menuentry "memtest86+ 4.20" {
  linux16 /boot/memtest/memtest86+-4.20.bin
 }

 menuentry "memtest86+-5.01" {
  linux16 /boot/memtest/memtest86+-5.01.bin
 }

}

menuentry "backbox 5.1" {
 set isofile="/iso/backbox-5.1-amd64.iso"
 loopback loop $isofile
 linux (loop)/casper/vmlinuz.efi boot=casper iso-scan/filename=$isofile noeject noprompt --
 initrd (loop)/casper/initrd.gz
}

menuentry "bitdefender rescue 27Jan2017" {
 set isofile="/iso/bitdefender-rescue-cd.iso"
 loopback loop $isofile
 linux (loop)/boot/kernel.i386-pc root=/dev/ram0 real_root=/dev/loop0 loop=/rescue/livecd.squashfs cdroot_marker=/rescue/livecd.squashfs initrd udev cdroot scandelay=10 quiet splash lang=en isoboot=$isofile
 initrd (loop)/boot/initfs.i386-pc
}

menuentry "clonezilla 2.5.5-38 amd64" {
 set isofile="/iso/clonezilla-live-2.5.5-38-amd64.iso"
 loopback loop $isofile
 linux (loop)/live/vmlinuz boot=live union=overlay username=user live-config noswap nolocales edd=on nomodeset ocs_live_run=\"ocs-live-general\" ocs_live_extra_param=\"\" ocs_live_keymap=\"\" ocs_live_batch=\"no\" ocs_lang=\"\" gfxpayload=1024x768x16,1024x768 ip=frommedia nosplash toram=filesystem.squashfs findiso=$isofile
 initrd (loop)/live/initrd.img
}

menuentry "dban 2.3.0" {
 set isofile="/iso/dban-2.3.0_i586.iso" 
 loopback loop $isofile
 linux (loop)/DBAN.BZI nuke="dwipe" silent -- 
}

menuentry "deftZ 2017-1" {
 set isofile="/iso/deftZ-2017-1.iso"
 loopback loop $isofile
 linux (loop)/casper/vmlinuz iso-scan/filename=$isofile boot=casper noeject noprompt -- 
 initrd (loop)/casper/initrd.lz
}

menuentry "gparted 0.31.0-1 amd64" {
 set isofile="/iso/gparted-live-0.31.0-1-amd64.iso"
 loopback loop $isofile
 linux (loop)/live/vmlinuz boot=live union=overlay username=user config noswap noprompt ip=frommedia findiso=$isofile toram=filesystem.squashfs
 initrd (loop)/live/initrd.img
}

menuentry "grml32 2017.05" {
 set isofile="/iso/grml96-full_2017.05.iso"
 loopback loop $isofile
 linux (loop)/boot/grml32full/vmlinuz findiso=$isofile apm=power-off gfxpayload=1024x768x16,1024x768 boot=live live-media-path=/live/grml32-full/ bootid=cce315de-e4f4-460c-8564-12ed50cec3e2 nomce noeject noprompt startx --
 initrd (loop)/boot/grml32full/initrd.img
}

menuentry "grml64 2017.05" {
 set isofile="/iso/grml96-full_2017.05.iso"
 loopback loop $isofile
 linux (loop)/boot/grml64full/vmlinuz findiso=$isofile apm=power-off gfxpayload=1024x768x16,1024x768 boot=live live-media-path=/live/grml64-full/ bootid=cce315de-e4f4-460c-8564-12ed50cec3e2 nomce noeject noprompt startx --
 initrd (loop)/boot/grml64full/initrd.img
}

menuentry "kali 2018.2 amd64" {
 set isofile="/iso/kali-linux-2018.2-amd64.iso"
 loopback loop $isofile
 linux (loop)/live/vmlinuz boot=live config noprompt ip=frommedia findiso=$isofile toram=filesystem.squashfs
 initrd (loop)/live/initrd.img
}

menuentry "kali e17 2018.2 amd64" {
 set isofile="/iso/kali-linux-e17-2018.2-amd64.iso"
 loopback loop $isofile
 linux (loop)/live/vmlinuz boot=live config noprompt ip=frommedia findiso=$isofile toram=filesystem.squashfs
 initrd (loop)/live/initrd.img
}

menuentry "kali kde 2018.2 amd64" {
 set isofile="/iso/kali-linux-kde-2018.2-amd64.iso"
 loopback loop $isofile
 linux (loop)/live/vmlinuz boot=live config noprompt ip=frommedia findiso=$isofile toram=filesystem.squashfs
 initrd (loop)/live/initrd.img
}

menuentry "kali light 2018.2 amd64" {
 set isofile="/iso/kali-linux-light-2018.2-amd64.iso"
 loopback loop $isofile
 linux (loop)/live/vmlinuz boot=live config noprompt ip=frommedia findiso=$isofile toram=filesystem.squashfs
 initrd (loop)/live/initrd.img
}

menuentry "kali lxde 2018.2 amd64" {
 set isofile="/iso/kali-linux-lxde-2018.2-amd64.iso"
 loopback loop $isofile
 linux (loop)/live/vmlinuz boot=live config noprompt ip=frommedia findiso=$isofile toram=filesystem.squashfs
 initrd (loop)/live/initrd.img
}

menuentry "kali mate 2018.2 amd64" {
 set isofile="/iso/kali-linux-mate-2018.2-amd64.iso"
 loopback loop $isofile
 linux (loop)/live/vmlinuz boot=live config noprompt ip=frommedia findiso=$isofile toram=filesystem.squashfs
 initrd (loop)/live/initrd.img
}

menuentry "kali xfce 2018.2 amd64" {
 set isofile="/iso/kali-linux-xfce-2018.2-amd64.iso"
 loopback loop $isofile
 linux (loop)/live/vmlinuz boot=live config noprompt ip=frommedia findiso=$isofile toram=filesystem.squashfs
 initrd (loop)/live/initrd.img
}

menuentry "remnux 5.0" {
 linux /boot/remnux-5.0/casper/vmlinuz boot=casper live-media-path=/boot/remnux-5.0/casper/ noprompt nonpersistent splash 
 initrd /boot/remnux-5.0/casper/initrd.gz
}

menuentry "systemrescuecd 5.2.2" {
 set isofile="/iso/systemrescuecd-x86-5.2.2.iso"
 loopback loop $isofile
 linux (loop)/isolinux/rescue64 setkmap=us isoloop=$isofile
 initrd (loop)/isolinux/initram.igz
}

menuentry "absolute64 20180515" {
 linux /boot/absolute64/kernels/huge.s/bzImage load_ramdisk=1 prompt_ramdisk=0 rw SLACK_KERNEL=huge.s
 initrd /boot/absolute64/isolinux/initrd.img
}

menuentry "antergos 18.6 x86_64" {
 set isofile="/iso/antergos-18.6-x86_64.iso"
 loopback loop $isofile
 linux (loop)/arch/boot/vmlinuz archisolabel=ANTERGOS img_dev=/dev/disk/by-label/GRUB2EFI img_loop=$isofile archisobasedir=arch earlymodules=loop
 initrd (loop)/arch/boot/archiso.img
}

menuentry "apodio 11-beta0.2" {
 linux /boot/apodio/casper/vmlinuz boot=casper live-media-path=/boot/apodio/casper/ noeject noprompt nonpersistent splash 
 initrd /boot/apodio/casper/initrd.gz
}

menuentry "aptosid 2013-01 hesperides kde i386 201305050307" {
 set isofile="/iso/aptosid-2013-01-hesperides-kde-full-i386-amd64-201305050307.iso"
 loopback loop $isofile
 linux (loop)/boot/vmlinuz0.686 boot=fll fromiso=$isofile 
 initrd (loop)/boot/initrd0.686
}

menuentry "aptosid 2013-01 hesperides kde amd64 201305050307" {
 set isofile="/iso/aptosid-2013-01-hesperides-kde-full-i386-amd64-201305050307.iso"
 loopback loop $isofile
 linux (loop)/boot/vmlinuz0.amd boot=fll fromiso=$isofile 
 initrd (loop)/boot/initrd0.amd
}

menuentry "aptosid 2013-01 hesperides xfce amd64 201305050307" {
 set isofile="/iso/aptosid-2013-01-hesperides-xfce-amd64-201305050307.iso"
 loopback loop $isofile
 linux (loop)/boot/vmlinuz0.amd boot=fll fromiso=$isofile 
 initrd (loop)/boot/initrd0.amd
}

menuentry "archlinux 2018.06.01 x86_64" {
 set isofile="/iso/archlinux-2018.06.01-x86_64.iso"
 loopback loop $isofile
 linux (loop)/arch/boot/x86_64/vmlinuz archisolabel=ARCH_201806 img_dev=/dev/disk/by-label/GRUB2EFI img_loop=$isofile archisobasedir=arch earlymodules=loop
 initrd (loop)/arch/boot/x86_64/archiso.img
}

menuentry "artistx 1.5 15_09_2013" {
 linux /boot/artistx/casper/vmlinuz boot=casper live-media-path=/boot/artistx/casper/ noprompt nonpersistent splash 
 initrd /boot/artistx/casper/initrd.gz
}

menuentry "bodhi 4.5.0 64" {
 set isofile="/iso/bodhi-4.5.0-64.iso"
 loopback loop $isofile
 linux (loop)/casper/vmlinuz.efi boot=casper iso-scan/filename=$isofile noeject noprompt --
 initrd (loop)/casper/initrd.lz
}

menuentry "CentOS 7 x86_64 GNOME 1804" {
 set isoname="CentOS-7-x86_64-LiveGNOME-1804"
 set isofile="/iso/${isoname}.iso"
 loopback loop $isofile
 linux (loop)/isolinux/vmlinuz0 root=live:CDLABEL=${isoname} rootfstype=auto ro rd.live.image quiet rhgb rd.luks=0 rd.md=0 rd.dm=0 iso-scan/filename=${isofile}
 initrd (loop)/isolinux/initrd0.img
}

menuentry "CentOS 7 x86_64 KDE 1804" {
 set isoname="CentOS-7-x86_64-LiveKDE-1804"
 set isofile="/iso/${isoname}.iso"
 loopback loop $isofile
 linux (loop)/isolinux/vmlinuz0 root=live:CDLABEL=${isoname} rootfstype=auto ro rd.live.image quiet rhgb rd.luks=0 rd.md=0 rd.dm=0 iso-scan/filename=${isofile}
 initrd (loop)/isolinux/initrd0.img
}

menuentry "Core 9.0" {
 set isofile="/iso/Core-9.0.iso"
 loopback loop $isofile
 linux (loop)/boot/vmlinuz
 initrd (loop)/boot/core.gz
}

menuentry "CorePlus 9.0" {
 set isofile="/iso/CorePlus-9.0.iso"
 loopback loop $isofile
 linux (loop)/boot/vmlinuz
 initrd (loop)/boot/core.gz
}

menuentry "debian 9.4.0 amd64 xfce" {
 set isofile="/iso/debian-live-9.4.0-amd64-xfce.iso"
 loopback loop $isofile
 linux (loop)/live/vmlinuz-4.9.0-6-amd64 boot=live findiso=$isofile
 initrd (loop)/live/initrd.img-4.9.0-6-amd64
}

menuentry "edubuntu 14.04.5 amd64" {
 set isofile="/iso/edubuntu-14.04.5-dvd-amd64.iso"
 loopback loop $isofile
 linux (loop)/casper/vmlinuz.efi boot=casper iso-scan/filename=$isofile quiet splash noprompt --
 initrd (loop)/casper/initrd.lz
}

menuentry "elementaryos 0.4.1 stable 20180214" {
 set isofile="/iso/elementaryos-0.4.1-stable.20180214.iso"
 loopback loop $isofile
 linux (loop)/casper/vmlinuz boot=casper iso-scan/filename=$isofile quiet splash noprompt --
 initrd (loop)/casper/initrd.lz
}

menuentry "manjaro gnome 17.1.10 stable x86_64" {
 set isofile="/iso/manjaro-gnome-17.1.10-stable-x86_64.iso"
 loopback loop $isofile
 linux (loop)/boot/vmlinuz-x86_64 img_dev=/dev/disk/by-label/GRUB2EFI img_loop=$isofile earlymodules=loop
 initrd (loop)/boot/initramfs-x86_64.img
}

menuentry "manjaro kde 17.1.10 stable x86_64" {
 set isofile="/iso/manjaro-kde-17.1.10-stable-x86_64.iso"
 loopback loop $isofile
 linux (loop)/boot/vmlinuz-x86_64 img_dev=/dev/disk/by-label/GRUB2EFI img_loop=$isofile earlymodules=loop
 initrd (loop)/boot/initramfs-x86_64.img
}

menuentry "manjaro xfce 17.1.10 stable x86_64" {
 set isofile="/iso/manjaro-xfce-17.1.10-stable-x86_64.iso"
 loopback loop $isofile
 linux (loop)/boot/vmlinuz-x86_64 img_dev=/dev/disk/by-label/GRUB2EFI img_loop=$isofile earlymodules=loop
 initrd (loop)/boot/initramfs-x86_64.img
}

menuentry "Fedora x86_64 28-1.1" {
 set isofile="/iso/Fedora-Workstation-Live-x86_64-28-1.1.iso"
 loopback loop $isofile
 linux (loop)/isolinux/vmlinuz root=live:CDLABEL=Fedora-WS-Live-28-1-1 rootfstype=auto ro rd.live.image quiet rhgb rd.luks=0 rd.md=0 rd.dm=0 iso-scan/filename=${isofile}
 initrd (loop)/isolinux/initrd.img
}

menuentry "Gentoo x86 20160704" {
 set isofile="/iso/livedvd-x86-amd64-32ul-20160704.iso"
 loopback loop $isofile
 linux (loop)/isolinux/gentoo root=/dev/ram0 init=/linuxrc dokeymap looptype=squashfs loop=/image.squashfs cdroot isoboot=$isofile
 initrd (loop)/isolinux/gentoo.xz
}

menuentry "Gentoo amd64 20160704" {
 set isofile="/iso/livedvd-x86-amd64-32ul-20160704.iso"
 loopback loop $isofile
 linux (loop)/isolinux/gentoo64 root=/dev/ram0 init=/linuxrc dokeymap looptype=squashfs loop=/image.squashfs cdroot isoboot=$isofile
 initrd (loop)/isolinux/gentoo64.xz
}

menuentry "justbrowsing 20140808" {
 set isofile="/iso/justbrowsing_20140808.iso"
 loopback loop $isofile
 linux (loop)/arch/boot/i686/vmlinuz archisolabel=justbrowsing img_dev=/dev/disk/by-label/GRUB2EFI img_loop=$isofile archisobasedir=arch earlymodules=loop
 initrd (loop)/arch/boot/i686/archiso.img
}

menuentry "kubuntu 18.04 amd64" {
 set isofile="/iso/kubuntu-18.04-desktop-amd64.iso"
 loopback loop $isofile
 linux (loop)/casper/vmlinuz boot=casper iso-scan/filename=$isofile quiet splash noprompt --
 initrd (loop)/casper/initrd.lz
}

menuentry "linuxmint 19 cinnamon" {
 set isofile="/iso/linuxmint-19-cinnamon-64bit.iso"
 loopback loop $isofile
 linux (loop)/casper/vmlinuz boot=casper iso-scan/filename=$isofile noprompt --
 initrd (loop)/casper/initrd.lz
}

menuentry "linuxmint 19 mate" {
 set isofile="/iso/linuxmint-19-mate-64bit.iso"
 loopback loop $isofile
 linux (loop)/casper/vmlinuz boot=casper iso-scan/filename=$isofile noprompt --
 initrd (loop)/casper/initrd.lz
}

menuentry "linuxmint 19 xfce" {
 set isofile="/iso/linuxmint-19-xfce-64bit.iso"
 loopback loop $isofile
 linux (loop)/casper/vmlinuz boot=casper iso-scan/filename=$isofile noprompt --
 initrd (loop)/casper/initrd.lz
}

menuentry "lubuntu 18.04 64" {
 set isofile="/iso/lubuntu-18.04-desktop-amd64.iso"
 loopback loop $isofile
 linux (loop)/casper/vmlinuz boot=casper iso-scan/filename=$isofile quiet splash noprompt --
 initrd (loop)/casper/initrd.lz
}

menuentry "mythbuntu 16.04.4 amd64" {
 set isofile="/iso/mythbuntu-16.04.4-desktop-amd64.iso"
 loopback loop $isofile
 linux (loop)/casper/vmlinuz.efi boot=casper iso-scan/filename=$isofile quiet splash noprompt --
 initrd (loop)/casper/initrd.lz
}

menuentry "openSUSE Leap 15.0 GNOME x86_64" {
 set isofile="/iso/openSUSE-Leap-15.0-GNOME-Live-x86_64-Current.iso"
 loopback loop $isofile
 linux (loop)/boot/x86_64/loader/linux root=live:CDLABEL=openSUSE_Leap_15.0_GNOME_Live rootfstype=auto ro rd.live.image quiet rhgb rd.luks=0 rd.md=0 rd.dm=0 iso-scan/filename=${isofile}
 initrd (loop)/boot/x86_64/loader/initrd
}

menuentry "openSUSE Leap 15.0 KDE x86_64" {
 set isofile="/iso/openSUSE-Leap-15.0-KDE-Live-x86_64-Current.iso"
 loopback loop $isofile
 linux (loop)/boot/x86_64/loader/linux root=live:CDLABEL=openSUSE_Leap_15.0_KDE_Live rootfstype=auto ro rd.live.image quiet rhgb rd.luks=0 rd.md=0 rd.dm=0 iso-scan/filename=${isofile}
 initrd (loop)/boot/x86_64/loader/initrd
}

menuentry "Peppermint 9 20180621 amd64" {
 set isofile="/iso/Peppermint-9-20180621-amd64.iso"
 loopback loop $isofile
 linux (loop)/casper/vmlinuz boot=casper iso-scan/filename=$isofile noprompt noeject quiet splash
 initrd (loop)/casper/initrd.lz
}

menuentry "Sabayon 18.05 GNOME" {
 set isofile="/iso/Sabayon_Linux_18.05_amd64_GNOME.iso"
 loopback loop $isofile
 linux (loop)/boot/sabayon root=/dev/ram0 init=/linuxrc looptype=squashfs loop=/livecd.squashfs cdroot initrd=/boot/sabayon.igz isoboot=$isofile
 initrd (loop)/boot/sabayon.igz
}

menuentry "Sabayon 18.05 KDE" {
 set isofile="/iso/Sabayon_Linux_18.05_amd64_KDE.iso"
 loopback loop $isofile
 linux (loop)/boot/sabayon root=/dev/ram0 init=/linuxrc looptype=squashfs loop=/livecd.squashfs cdroot initrd=/boot/sabayon.igz isoboot=$isofile
 initrd (loop)/boot/sabayon.igz
}

menuentry "Sabayon 18.05 MATE" {
 set isofile="/iso/Sabayon_Linux_18.05_amd64_MATE.iso"
 loopback loop $isofile
 linux (loop)/boot/sabayon root=/dev/ram0 init=/linuxrc looptype=squashfs loop=/livecd.squashfs cdroot initrd=/boot/sabayon.igz isoboot=$isofile
 initrd (loop)/boot/sabayon.igz
}

menuentry "Sabayon 18.05 Minimal" {
 set isofile="/iso/Sabayon_Linux_18.05_amd64_Minimal.iso"
 loopback loop $isofile
 linux (loop)/boot/sabayon root=/dev/ram0 init=/linuxrc looptype=squashfs loop=/livecd.squashfs cdroot initrd=/boot/sabayon.igz isoboot=$isofile
 initrd (loop)/boot/sabayon.igz
}

menuentry "Sabayon 18.05 SpinBase" {
 set isofile="/iso/Sabayon_Linux_18.05_amd64_SpinBase.iso"
 loopback loop $isofile
 linux (loop)/boot/sabayon root=/dev/ram0 init=/linuxrc looptype=squashfs loop=/livecd.squashfs cdroot initrd=/boot/sabayon.igz isoboot=$isofile
 initrd (loop)/boot/sabayon.igz
}

menuentry "Sabayon 18.05 Xfce" {
 set isofile="/iso/Sabayon_Linux_18.05_amd64_Xfce.iso"
 loopback loop $isofile
 linux (loop)/boot/sabayon root=/dev/ram0 init=/linuxrc looptype=squashfs loop=/livecd.squashfs cdroot initrd=/boot/sabayon.igz isoboot=$isofile
 initrd (loop)/boot/sabayon.igz
}

menuentry "slax 64bit 9.4.0" {
 set isofile="/iso/slax-64bit-9.4.0.iso"
 loopback loop $isofile
 linux (loop)/slax/boot/vmlinuz from=$isofile slax.flags=perch,xmode nopersistent noeject noprompt noatime
 initrd (loop)/slax/boot/initrfs.img
}

menuentry "slitaz rolling" {
 set isofile="/iso/slitaz-rolling.iso"
 loopback loop $isofile
 linux (loop)/boot/bzImage rw root=/dev/null lang=C kmap=us screen=1024x768x16 autologin
 initrd (loop)/boot/rootfs4.gz
}

menuentry "TinyCore 9.0" {
 set isofile="/iso/TinyCore-9.0.iso"
 loopback loop $isofile
 linux (loop)/boot/vmlinuz
 initrd (loop)/boot/core.gz
}

menuentry "ubuntu 18.04 64" {
 set isofile="/iso/ubuntu-18.04-desktop-amd64.iso"
 loopback loop $isofile
 linux (loop)/casper/vmlinuz boot=casper iso-scan/filename=$isofile quiet splash noprompt --
 initrd (loop)/casper/initrd.lz
}

menuentry "ubuntu mate 18.04" {
 set isofile="/iso/ubuntu-mate-18.04-desktop-amd64.iso"
 loopback loop $isofile
 linux (loop)/casper/vmlinuz boot=casper iso-scan/filename=$isofile quiet splash noprompt --
 initrd (loop)/casper/initrd.lz
}

menuentry "ubuntustudio 18.04" {
 set isofile="/iso/ubuntustudio-18.04-dvd-amd64.iso"
 loopback loop $isofile
 linux (loop)/casper/vmlinuz boot=casper iso-scan/filename=$isofile quiet splash noprompt --
 initrd (loop)/casper/initrd.lz
}

menuentry "Vector Linux 7.1 LIGHT" {
 set isofile="/iso/VL64-7.1-LIGHT.iso"
 loopback loop $isofile
 linux (loop)/isolinux/kernel/sata splash load_ramdisk=1 prompt_ramdisk=0 ramdisk_size=140000 rw root=/dev/ram isoboot=$isofile
 initrd (loop)/isolinux/init.lz
}

menuentry "Vector Linux 7.1 STD" {
 set isofile="/iso/VL64-7.1-STD-FINAL.iso"
 loopback loop $isofile
 linux (loop)/isolinux/kernel/sata splash load_ramdisk=1 prompt_ramdisk=0 ramdisk_size=140000 rw root=/dev/ram isoboot=$isofile
 initrd (loop)/isolinux/init.lz
}

menuentry "xubuntu 18.04 desktop amd64" {
 set isofile="/iso/xubuntu-18.04-desktop-amd64.iso"
 loopback loop $isofile
 linux (loop)/casper/vmlinuz boot=casper iso-scan/filename=$isofile quiet splash noprompt --
 initrd (loop)/casper/initrd.lz
}

menuentry "Zorin OS 12.3 Core 64" {
 set isofile="/iso/Zorin-OS-12.3-Core-64.iso"
 loopback loop $isofile
 linux (loop)/casper/vmlinuz boot=casper iso-scan/filename=$isofile quiet splash noprompt --
 initrd (loop)/casper/initrd.lz
}

menuentry "Zorin OS 12.3 Education 64" {
 set isofile="/iso/Zorin-OS-12.3-Education-64.iso"
 loopback loop $isofile
 linux (loop)/casper/vmlinuz boot=casper iso-scan/filename=$isofile quiet splash noprompt --
 initrd (loop)/casper/initrd.lz
}

menuentry "Zorin OS 12.3 Lite 64" {
 set isofile="/iso/Zorin-OS-12.3-Lite-64.iso"
 loopback loop $isofile
 linux (loop)/casper/vmlinuz boot=casper iso-scan/filename=$isofile quiet splash noprompt --
 initrd (loop)/casper/initrd.lz
}

menuentry "Zorin OS 12.3 Lite-Education 64" {
 set isofile="/iso/Zorin-OS-12.3-Lite-Education-64.iso"
 loopback loop $isofile
 linux (loop)/casper/vmlinuz boot=casper iso-scan/filename=$isofile quiet splash noprompt --
 initrd (loop)/casper/initrd.lz
}

menuentry "bio linux 8.0.7" {
 set isofile="/iso/bio-linux-8.0.7.iso"
 loopback loop $isofile
 linux (loop)/casper/vmlinuz.efi boot=casper iso-scan/filename=$isofile quiet splash noprompt --
 initrd (loop)/casper/initrd.lz
}

menuentry "SL 7.5 x86_64 2018-05-14 gnome" {
 set isofile="/iso/SL-7.5-x86_64-2018-05-14-LiveDVDgnome.iso"
 loopback loop $isofile
 linux (loop)/isolinux/vmlinuz0 root=live:CDLABEL=SL-75-x86_64-LiveDVDgnome rootfstype=auto ro rd.live.image quiet rhgb rd.luks=0 rd.md=0 rd.dm=0 iso-scan/filename=${isofile}
 initrd (loop)/isolinux/initrd0.img
}

menuentry "SL 7.5 x86_64 2018-05-14 kde" {
 set isofile="/iso/SL-7.5-x86_64-2018-05-14-LiveDVDkde.iso"
 loopback loop $isofile
 linux (loop)/isolinux/vmlinuz0 root=live:CDLABEL=SL-75-x86_64-LiveDVDkde  rootfstype=auto ro rd.live.image quiet rhgb rd.luks=0 rd.md=0 rd.dm=0 iso-scan/filename=${isofile}
 initrd (loop)/isolinux/initrd0.img
}

menuentry "vinux 5.1 amd64" {
 set isofile="/iso/vinux-5.1-amd64.iso"
 loopback loop $isofile
 linux (loop)/casper/vmlinuz.efi boot=casper iso-scan/filename=$isofile quiet splash noprompt --
 initrd (loop)/casper/initrd.lz
}

menuentry "lglive 0.9.7 hybrid lite" {
 set isofile="/iso/lglive-0.9.7-i686-hybrid-lite.iso"
 loopback loop $isofile
 linux (loop)/lglive/boot/i686/vmlinuz26 archisolabel=lglive-097 img_dev=/dev/disk/by-label/GRUB2EFI archisobasedir=lglive img_loop=$isofile earlymodules=loop
 initrd (loop)/lglive/boot/i686/lglive.img
}

menuentry "Restart" {
 reboot
}

menuentry "Shutdown" {
 halt
}
